<a href="https://colab.research.google.com/github/phaks323/library/blob/master/Python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ### **Creating a dictionary** 

 Dictionaries are key-value pairs


 </br>
 
 A dictionary is a collection which is ordered*, changeable and does not allow duplicates.


</br>


 
 When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.


</br>

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

</br>

In [ ]:
population = {'Gauteng': 3748148, 'Cape Town': 1822445, 'Durban': 1471508, 'East London': 1085664, 'Polokwane': 753056 }

# dictionary containing a list of products' prices
products = {'table': 120, 'chair': 40, 'lamp': 14, 'bed': 250, 'mattress': 100}

# dictionary containing students grades 
grades = {'Masingita': 9.5, 'Hardy': 10, 'Sbusiso': 3.5, 'Obakeng': 6.5, 'Caiphus': 7.5}

.

.

### Printing out dictionaries

In [ ]:
print(population)

{'Gauteng': 3748148, 'Cape Town': 1822445, 'Durban': 1471508, 'East London': 1085664, 'Polokwane': 753056}

In [ ]:
print(products)

{'table': 120, 'chair': 40, 'lamp': 14, 'bed': 250, 'mattress': 100}

In [ ]:
print(grades)

{'Masingita': 9.5, 'Hardy': 10, 'Sbusiso': 3.5, 'Obakeng': 6.5, 'Caiphus': 7.5}

.

.

### Create dictionaries using **dict() function**

In [ ]:
students_ages = dict(Sbusiso=27, Happy=38, Sipho=17, Fikile=40)

In [ ]:
print(students_ages)

{'Sbusiso': 27, 'Happy': 38, 'Sipho': 17, 'Fikile': 40}

.

.

### Creating dictionaries using lists of tuples

In [ ]:
students_ages = dict([('Sbusiso', 27), ('Happy', 38), ('Sipho', 17), ('Fikile', 40)])

In [ ]:
students_ages

{'Fikile': 40, 'Happy': 38, 'Sbusiso': 27, 'Sipho': 17}

.

.

### Creating dictionaries using 2 lists

In [ ]:
students = ['Jabu', 'Philip', 'Grace', 'Themba']
ages = [27, 38, 17, 40]

students_ages = dict(zip(students, ages))

In [ ]:
print(students_ages)

{'Jabu': 27, 'Philip': 38, 'Grace': 17, 'Themba': 40}

.

.

### Access values in a dictionary


### The below method of accessing values in a dictionary has limitations in that it returns an error if the value you are trying to access it is not available.

In [ ]:
population['Gauteng']

3748148

.

### The next method of accessing the dictionary returns an empty value if accessing a value that is not available

In [ ]:
population.get('Hermanus')

.

### Insert elements in a dictionary

In [ ]:
students_ages['Melisha'] = 35

In [ ]:
students_ages

{'Grace': 17, 'Jabu': 27, 'Melisha': 35, 'Philip': 38, 'Themba': 40}

.

### Updating the dictionaries

In [ ]:
students_ages.update({'Jabu': 30, 'Grace': 19})

In [ ]:
students_ages

{'Grace': 19, 'Jabu': 30, 'Melisha': 35, 'Philip': 38, 'Themba': 40}

.

In [ ]:
students_ages.update(Jabu=26, Marco=24, Paola=21)

In [ ]:
students_ages

{'Grace': 19,
 'Jabu': 26,
 'Marco': 24,
 'Melisha': 35,
 'Philip': 38,
 'Themba': 400}

.

In [ ]:
students_ages['Themba'] = 400

.

.

### Deleting values from dictionary


### The below method of deleting values in a dictionary has limitations in that it returns an error if the value you are trying to delete it is not available.

In [ ]:
del students_ages['Themba']

In [ ]:
students_ages

{'Grace': 19, 'Jabu': 26, 'Marco': 24, 'Melisha': 35, 'Philip': 38}

### The next method of deleting the dictionary returns an empty value if deleting a value that is not available

.

In [ ]:
students_ages.pop('Paola', "Not Available")

21

.

### Check if a key exists

In [ ]:
# check if the key 'Guteng' exists in the dictionary population

'Gauteng' in population

True

In [ ]:
# check if the key 'Gauteng' does not exist in the dictionary population
'Gauteng' not in population

False

.

### Copy a dictionary

In [ ]:
students_2 = students.copy()

In [ ]:
students

['Jabu', 'Philip', 'Grace', 'Themba']

.

.

### Copy using **= operator**

In [ ]:
students_copy = students

In [ ]:
students

.

.

### Find the length of a **dictionary**

In [ ]:
len(population)

5

.

### Looping through a **dictionary**
Iterating through keys

In [ ]:
for city in population:
    print(city)

Gauteng
Cape Town
Durban
East London
Polokwane

 ### Using keys()

In [ ]:
for city in population.keys():
    print(city)

Gauteng
Cape Town
Durban
East London
Polokwane

.

### Looping through a **dictionary**
Iterating through values

In [ ]:
for number in population.values():
    print(number)

3748148
1822445
1471508
1085664
753056

.

### Looping through a **dictionary**
Iterating through items

In [ ]:
for student, grade in grades.items():

.

### Nested dictionary with dict() constructor

In [ ]:
works_of_art = dict(Group_1={'Group_Leader': 'Masingita Maluleke', 'Age': 17, 'Position': 'Jr Data Scienctist'},
                    Group_2={'Group_Leader': 'Sbusiso Phakathi', 'Age': 20, 'Position': 'Jr Data Scientist'},
                    Group_3={'Group_Leader': 'Caiphus Kai', 'Age': 21, 'Position': 'Jr Data Scientist'},
                    Group_4={'Group_Leader': 'Obakeng Obs', 'Age': 23, 'Position': 'Jr Data Scientist'},
                    Group_5={'Group_Leader': 'Dylan Knevitt', 'Age': 16, 'Position': 'Jr Data Scientist'})

In [ ]:
works_of_art

{'Group_1': {'Age': 17,
  'Group_Leader': 'Masingita Maluleke',
  'Position': 'Jr Data Scienctist'},
 'Group_2': {'Age': 20,
  'Group_Leader': 'Sbusiso Phakathi',
  'Position': 'Jr Data Scientist'},
 'Group_3': {'Age': 21,
  'Group_Leader': 'Caiphus Kai',
  'Position': 'Jr Data Scientist'},
 'Group_4': {'Age': 23,
  'Group_Leader': 'Obakeng Obs',
  'Position': 'Jr Data Scientist'},
 'Group_5': {'Age': 16,
  'Group_Leader': 'Dylan Knevitt',
  'Position': 'Jr Data Scientist'}}